.nowrap {
  white-space: nowrap;
}
.container{

  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  flex-wrap: wrap;
  padding: 5px;
  min-width: 100%;
  justify-content: space-around;
  background-color: #F5F5F5;
}
.card-content{
  display: flex;
  flex-wrap: wrap;
}
.header{
  align-content: flex-start;
}
.end-of-the-line{
  align-content: flex-end;
}
.border-class{
  border-bottom: 1px solid;
  background-color: silver;
  min-width: 100%;
}
.border-end{
  display: block;
  clear: both;
  border-bottom: 2px ridge;
}
.clear-float{
  display: block;
  clear: both;
}
.header-container{
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: flex-end;
}
.right-align{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-space-around;
}
.right-float{
  display: block;
  float: right;
  justify-content: flex-end;

}
